/* Variables */
:root {
  --basic-background: #FFFFFF;
  --beige-background: #F3F7F9;
  --grey-background: #F1F5F7;
  --opaque-social: rgba(255, 255, 255, 0.1);
  --dark-grey-background: #F4F7F9;
  --grey-border: #C5C5C5;
  --divider-blue: #239449;
  --grey-placeholder: #BDBDBD;
  --light-grey-price: #A9A9A9;
  --light-grey-border: #EAEAEA;
  --basic-black: #000000;
  --technomart-accent: #EE3643;
  --technomart-dark-accent: #B52933;
  --technomart-hover-red: #CA2C37;
  --technomart-active-red: #BA2732;
  --scale-green: #5FBB2D;
  --another-dark-blue: #405069;
  --background-range: #F7F3EC;
  --darkest-blue: #32425C;
  --dark-blue: #293449;
  --normal-blue: #3D546F;
  --slider-blue: rgba(41, 52, 73, 0.6);
  --technomart-green: #63A63E;
  --technomart-active-green: #518534;
  --promo-yellow: #FFBF47;
  --promo-skyblue: #3BBCE3;
  --promo-purple: #DC91D8;
  --promo-green: #8ED78F;
  --feedback-gold: #FFD180;
  --input-hover: rgba(50, 66, 92, 0.6);
  --input-blocked: rgba(50, 66, 92, 0.2);
  --input-label-blocked: rgba(0, 0, 0, 0.4);
  --small-shadow: rgba(0, 0, 0, 0.03);
  --mid-shadow: rgba(0, 0, 0, 0.06);
  --large-shadow: rgba(0, 0, 0, 0.15);
  --basic-font: "PT Sans", Arial, sans-serif;
  --accent-font: "Fira Sans", Arial, sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Global */

.technomart-button {
  display: block;
  background-color: var(--technomart-accent);
  color: var(--basic-background);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 14px;
  border-radius: 2px;
  width: 195px;
}

.technomart-button:hover {
  background-color: var(--technomart-hover-red);
}

.technomart-button:active {
  background-color: var(--technomart-active-red);
}

.technomart-title {
  margin: 0;
  padding: 0;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}

.new::after {
  position: absolute;
  content: "New";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  width: 100px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: var(--basic-background);
  background-color: var(--technomart-accent);
  top: 10px;
  right: -25px;
  transform: rotate(45deg);
  z-index: 0;
}

.page {
  height: 100%;
  padding: 0;
  margin: 0;
}

.page__body {
  box-sizing: border-box;
  min-width: 1190px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 100%;
  align-content: start;
  background-color: var(--basic-white);
  font-family: var(--basic-font);
  font-size: 18px;
  line-height: 24px;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.about-contacts {
  background-color: var(--beige-background);
}

.about-contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 14px;
}

.about-contacts__about {
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--technomart-accent);
  margin: 0;
}

.header-contacts {
  display: flex;
}

.header-contacts__address {
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--darkest-blue);
}

.header-contacts__phone {
  display: block;
  width: 216px;
  padding-left: 42px;
  position: relative;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--dark-blue);
  letter-spacing: 2px;
  box-sizing: border-box;
}

.header-contacts__phone:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 17px;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  background-image: url("../img/icons/phone.svg");
}

.logo-search-user {
  background-color: var(--dark-blue);
}

.logo-search-user__wrapper {
  display: flex;
}

.logo-search-user__logo {
  position: relative;
  z-index: 10;
  background-color: var(--technomart-accent);
  width: 220px;
  height: 45px;
  text-align: center;
}

.logo-search-user__logo::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: var(--technomart-dark-accent);
}

.logo-search-user__logo-image {
  padding-top: 12px;
  padding-bottom: 15px;
}

.search-form {
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  height: 45px;
}

.search-form__input {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-blue);
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 53px;
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: none;
  outline: none;
}

.search-form__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-background);
}

.search-form__icon {
  z-index: 0;
  position: absolute;
  left: 21px;
  top: 50%;
  transform: translateY(-50%);
}

.search-form__cancel {
  position: absolute;
  display: none;
  top: 50%;
  transform: translateY(-50%);
  right: 19px;
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/close.svg");
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.search-form__input:focus {
  background-color: var(--grey-background);
}

.search-form__input:focus ~ .search-form__cancel {
  display: block;
}

.search-form__input:focus + .search-form__icon {
  fill: var(--another-dark-blue);
  z-index: 1;
}

.search-form__input:focus::placeholder {
  color: var(--grey-border);
}

.user-controls {
  position: relative;
}

.user-controls__login-link {
  display: none;
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--grey-background);
  padding-top: 14px;
  padding-bottom: 13px;
}

.user-controls__login-link--active {
  display: block;
  max-width: 233px;
  padding-left: 41px;
}

.user-controls__login-link--active:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 17px;
  background-image: url("../img/icons/login.svg");
  background-repeat: no-repeat;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.user-controls__popup {
  display: none;
  position: absolute;
  top: 12px;
  right: 0;
  z-index: 1;

  background-color: var(--basic-background);
  width: 360px;
  border-radius: 2px;
  box-shadow: 0px 8px 20px var(--large-shadow);
}

.user-controls__popup--active {
  display: block;

}

.user-controls__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.user-controls__input {
  width: 100%;
  padding: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 12px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid var(--grey-border);
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}

.user-controls__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}

.user-controls__checkbox-label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.user-controls__other-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
}

.user-controls__main-control {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--basic-background);
  border: 2px solid var(--technomart-green);
  border-radius: 2px;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  margin: 0;
  cursor: pointer;
  width: 145px;
  text-align: center;
  box-sizing: border-box;
}

.user-controls__main-control--login {
  color: var(--basic-background);
  background-color: var(--technomart-green);
}

.user-controls__main-control--registration, .user-controls__main-control--logout {
  color: var(--darkest-blue);
}

.user-controls__close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.user-controls__profile {
  display: none;
  width: 233px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.user-controls__profile--active {
  display: block;
}

.user-controls__profile-name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-background);
}

.user-controls__profile-link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--normal-blue);
}

.navigation-order-controls__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-order-controls {
  background-color: var(--normal-blue);
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 860px;
}

.navigation__link {
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-background);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 21px;
  padding-bottom: 24px;
}

.navigation__link:hover {
  background-color: var(--darkest-blue);
  color: var(--grey-border);
}

.navigation__link:active {
  background-color: var(--darkest-blue);
  color: var(--darkest-blue);
}

.navigation__link:active::after {
  position: absolute;
  content: attr(title);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-background);
  left: 50%;
  transform: translateX(-50%);
  top: 21px;
}

.order-controls {
  display: flex;
  align-items: center;
}

.order-controls__bookmark {
  margin-right: 25px;
  display: flex;
  align-items: center;
}

.order-controls__cart {
  margin-right: 25px;
  display: flex;
  align-items: center;
}

.order-controls__bookmark-icon,
.order-controls__cart-icon {
  opacity: 0.6;
}

.order-controls__bookmark-amount,
.order-controls__cart-amount {
  margin-left: 6px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  color: var(--basic-background);
}

.order-controls__checkout {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 170px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--basic-background);
  background-color: var(--technomart-green);
  text-align: center;
  border-radius: 2px;
}

.order-controls__checkout:hover {
  background-color: var(--scale-green);
}

.order-controls__checkout:active {
  background-color: var(--technomart-active-green);
}

.promo {
  margin-top: 52px;
}

.promo__items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-template-rows: 180px 180px 180px;
  gap: 30px;
}

.promo__item {
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.promo__item::before {
  position: absolute;
  content: "";
  top: 45px;
  right: 37px;
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
}

.promo__item--materials {
  background-color: var(--promo-yellow);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.promo__item--materials::before {
  background-image: url("../img/backgrounds/promo-materials.svg");
}

.promo__item--tool {
  background-color: var(--promo-skyblue);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.promo__item--tool::before {
  background-image: url("../img/backgrounds/promo-tool.svg");
}

.promo__item--equipment {
  background-color: var(--promo-purple);
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.promo__item--equipment::before {
  background-image: url("../img/backgrounds/promo-equipment.svg");
}

.promo__item--discount {
  background-color: var(--promo-green);
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.promo__item--discount::before {
  background-image: url("../img/backgrounds/promo-discount.svg");
}

.promo__item--delivery {
  background-color: var(--promo-yellow);
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.promo__item--delivery::before {
  background-image: url("../img/backgrounds/promo-delivery.svg");
}

.promo__item--slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  width: 770px;
  height: 390px;
}

.promo__title {
  margin: 0;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 140px;
  color: var(--basic-background);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.slider {
  border-radius: 0;
}

.promo__title--slider {
  font-family: var(--accent-font);
  font-size: 36px;
  line-height: 42px;
  margin: 0;
}

.promo__link {
  display: block;
  position: absolute;
  width: 180px;
  box-sizing: border-box;
  border: 1px solid var(--basic-background);
  padding-left: 33px;
  padding-right: 5px;
  padding-top: 12px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--basic-background);
  bottom: 33px;
  left: 25px;
}

.promo__link::before {
  position: absolute;
  content: "";
  background-image: url("../img/icons/arrow.svg");
  width: 16px;
  height: 16px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.promo__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
  margin-top: 10px;
}

.slider__items {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.slider__item {
  display: none;
  background-color: var(--basic-black);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-top: 53px;
  padding-left: 51px;
  padding-right: 51px;
  padding-bottom: 51px;
  box-sizing: border-box;
}

.slider__item--current {
  display: block;
}

.slider__item--drills {
  background-image: url("../img/backgrounds/slider-drills.jpg");
}

.slider__item--perforators {
  background-image: url("../img/backgrounds/slider-perforators.jpg");
}

.slider__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--slider-blue);
  border: none;
}

.slider__control::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/arrow.svg");
  background-size: 20px 20px;
}

.slider__control--previous {
  left: 19px;
}

.slider__control--previous::after {
  transform: translate(-50%, -50%) rotate(180deg);
}

.slider__control--next::after {
  transform: translate(-50%, -50%);
}

.slider__control--next {
  right: 19px;
}

.slider__dots {
  position: absolute;
  display: flex;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__dot:not(:nth-last-child(1)) {
  margin-right: 8px;
}

.slider__dot-button {
  display: block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.8;
  background-color: var(--feedback-gold);
}

.slider__dot-button--current {
  opacity: 1;
  background-color: var(--basic-background);
}

.slider__catalog-link {
  position: absolute;
  left: 51px;
  bottom: 48px;
}

.catalog {
  margin-top: 35px;
  margin-bottom: 53px;
  display: grid;
  grid-template-columns: 220px 870px;
  grid-template-rows: min-content min-content min-content min-content;
  column-gap: 79px;
}

.catalog__title {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  margin-bottom: 26px;
}

.catalog__filters {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

.catalog__sort {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.catalog__products {
  grid-column: 2 / -1;
  grid-row: 3 / 4;
}

.catalog__pagination {
  grid-column: 2 / -1;
  grid-row: 4 / 5;
}

.filters__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filters__fieldset--price {
  margin-bottom: 39px;
}

.range__controls {
  position: relative;
  margin-top: 9px;
  margin-bottom: 6px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--background-range);
  border-radius: 2px;
}

.range__scale {
  height: 2px;
  background-color: var(--normal-blue);
}

.range__bar {
  width: 90%;
  height: 2px;
  background-color: var(--scale-green);
}

.range__toggle {
  position: absolute;
  box-sizing: border-box;
  top: 10px;
  left: 20px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 2px solid var(--normal-blue);
  background-color: var(--basic-background);
  border-radius: 50%;
  cursor: pointer;
}

.range__toggle:hover {
  background-color: var(--technomart-active-green);
}

.range__toggle:active {
  background-color: var(--scale-green);
}

.range__input {
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--dark-blue);
  border: none;
  border-radius: 2px;
  background-color: var(--background-range);
  text-align: center;
}

.range__price-divider {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--divider-blue);
}

.filters__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters__list--checkbox {
  margin-top: 16px;
}

.filters__list--radio {
  margin-top: 18px;
}

.filters__list--manufacturer {
  margin-bottom: 34px;
}

.filters__list--power {
  margin-bottom: 45px;
}

.filters__item--checkbox:not(:nth-last-child(1)) {
  margin-bottom: 12px;
}

.filters__item--radio:not(:nth-last-child(1)) {
  margin-bottom: 14px;
}

.filters__legend {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.filters__label {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  padding-left: 36px;
  cursor: pointer;
}

.filters__label--checkbox {
  padding-top: 1px;
  padding-bottom: 1px;
}

.filters__label--checkbox {
  padding-top: 2px;
  padding-bottom: 2px;
}

.filters__input--checkbox + .filters__label--checkbox::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid var(--normal-blue);
  border-radius: 2px;
}

.filters__input--checkbox:hover + .filters__label--checkbox::before {
  border-color: var(--input-hover);
}

.filters__input--checkbox:active + .filters__label--checkbox,
.filters__input--checkbox:disabled + .filters__label--checkbox {
  color: var(--input-label-blocked);
}

.filters__input--checkbox:active + .filters__label--checkbox::before,
.filters__input--checkbox:disabled + .filters__label--checkbox::before {
  border-color: var(--input-blocked);
}

.filters__input--checkbox:checked + .filters__label--checkbox::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 7px;
  background-image: url("../img/icons/checkmark.svg");
  background-repeat: no-repeat;
}

.filters__input--checkbox:checked:hover + .filters__label--checkbox::after {
  opacity: 0.6;
}

.filters__input--checkbox:checked:active + .filters__label--checkbox::after,
.filters__input--checkbox:checked:disabled + .filters__label--checkbox::after {
  opacity: 0.2;
}

.filters__input--radio + .filters__label--radio::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border: 2px solid var(--normal-blue);
  border-radius: 50%;
}

.filters__input--radio:hover + .filters__label--radio::before {
  border-color: var(--input-hover);
}

.filters__input--radio:active + .filters__label--radio,
.filters__input--radio:disabled + .filters__label--radio {
  color: var(--input-label-blocked);
}

.filters__input--radio:active + .filters__label--radio::before,
.filters__input--radio:disabled + .filters__label--radio::before {
  border-color: var(--input-blocked);
}

.filters__input--radio:checked + .filters__label--radio::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--normal-blue);
  border-radius: 50%;
  background-repeat: no-repeat;
}

.filters__input--radio:checked:hover + .filters__label--radio::after {
  opacity: 0.6;
}

.filters__input--radio:checked:active + .filters__label--radio::after,
.filters__input--radio:checked:disabled + .filters__label--radio::after {
  opacity: 0.2;
}

.filters__show {
  display: block;
  box-sizing: border-box;
  width: 220px;
  padding-top: 9px;
  padding-bottom: 9px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--darkest-blue);
  border: 2px solid var (--normal-blue);
  border-radius: 2px;
  background-color: transparent;
}

.products {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.product {
  position: relative;
  border: 1px solid var(--light-grey-border);
  border-radius: 2px;
  text-align: center;
  overflow: hidden;
  width: 270px;
  margin-right: 30px;
  margin-bottom: 29px;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 27px;
  padding-bottom: 106px;
  box-sizing: border-box;
}

.product:nth-child(3n) {
  margin-right: 0;
}

.product__controls {
  display: none;
}

.product:hover {
  box-shadow: 0px 8px 20px var(--large-shadow);
}

.product:hover .product__controls,
.product:focus-within .product__controls {
  display: block;
  position: absolute;
  top: 27px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 39px;
}

.product-image {
  vertical-align: top;
}

.product:hover .product-image,
.product:focus-within .product-image {
  opacity: 0.1;
}

.product__button {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 135px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  border: 2px solid var(--technomart-green);
  border-radius: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: transparent;
  padding-top: 11px;
  padding-bottom: 11px;
  margin: 0 auto;
}

.product__button:hover {
  border-color: var(--normal-blue);
}

.product__button:active {
  border-color: var(--grey-border);
  color: var(--grey-border);
}

.product__button--buy {
  background-color: var(--technomart-green);
  color: var(--basic-background);
  text-align: left;
  padding-left: 41px;
  margin-bottom: 11px;
  border: none;
}

.product__button--buy:hover {
  background-color: var(--scale-green)
}

.product__button--buy:active {
  background-color: var(--technomart-active-green);

}

.product__button--buy::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  background-position-y: -50%;
  left: 23px;
}

.product__name {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: var(--dark-blue);
  margin: 0;
  margin-top: 14px;
}

.product__prices {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.product__price {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--light-grey-price);
  text-decoration: line-through;
  margin: 0 auto;

}

.product__price--current {
  color: var(--basic-background);
  background-image: url("../img/backgrounds/current-price.svg");
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 140px;
  text-decoration: none;
  margin-top: 9px;
}

.product__price--current:hover {
  background-image: url("../img/backgrounds/current-price-hover.svg");
}

.product__price--current:active {
  background-image: url("../img/backgrounds/current-price-active.svg");
}

.pagination {
  display: flex;
  margin: 0 auto;
}

.pagination__pages {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 17px;
}

.pagination__page:not(:nth-last-child(1)) {
  margin-right: 8px;
}

.pagination__page-link {
  display: block;
  width: 50px;
  padding-top: 15px;
  padding-bottom: 14px;
  border-radius: 2px;
  background-color: var(--normal-blue);
  color: var(--basic-background);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.pagination__page-link--current {
  background-color: var(--basic-background);
  color: var(--normal-blue);
}

.services {
  background-color: var(--dark-grey-background);
  padding-top: 52px;
  padding-bottom: 22px;
}

.services__title {
  text-align: center;
  margin-bottom: 30px;
}

.services__text {
  margin: 0 auto;
  margin-bottom: 65px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 556px;
  color: var(--dark-blue);
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}

.services__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.services__item:nth-child(3n) {
  margin-right: 0;
}

.service {
  position: relative;
  box-shadow: 0px 8px 20px var(--large-shadow);
  border-radius: 2px;
  background-color: var(--basic-background);
  padding-top: 167px;
  padding-bottom: 43px;
  padding-left: 26px;
  padding-right: 44px;
  box-sizing: border-box;
}

.service::before {
  position: absolute;
  content: "";
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  top: 31px;
  left: 24px;
}

.service--delivery::before {
  background-image: url("../img/backgrounds/services-delivery.svg");
}

.service--warranty::before {
  background-image: url("../img/backgrounds/services-warranty.svg");
}

.service--credit::before {
  background-image: url("../img/backgrounds/services-credit.svg");
}

.service__title {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  color: var(--darkest-blue);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.service__text {
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.company-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 52px;
  padding-bottom: 52px;
}

.company-contacts-wrapper__about {
  width: 500px;
}

.company-contacts-wrapper__contacts {
  width: 500px;
}

.about__title {
  margin-bottom: 23px;
}

.about__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-blue);
  margin-bottom: 24px;
}

.about__link {
  margin-top: 52px;
}

.contacts__title {
  margin-bottom: 23px;
}

.contacts__text {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-blue);
}

.page-footer__top {
  background-color: var(--darkest-blue);
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.logo-contacts-social__logo {
  display: block;
  position: relative;
  width: 225px;
  background-color: var(--technomart-accent);
  margin-bottom: 21px;
  padding-top: 11px;
  padding-bottom: 10px;
  text-align: center;
}

.logo-contacts-social__logo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--technomart-dark-accent);
  bottom: 0;
  left: 0;
}

.logo-contacts-social__footer-contacts {
  margin-bottom: 24px;
}

.footer-contacts__address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--beige-background);
  margin-bottom: 1px;
}

.footer-contacts__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--beige-background);
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 360px;
}

.social__item:not(:nth-child(7n)) {
  margin-right: 17px;
}

.social__link {
  display: block;
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--opaque-social);
}

.social__link:hover {
  background-color: var(--dark-blue);
}

.social__link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.social__link--vk::after {
  background-image: url("../img/icons/icon-vk.svg");
  width: 18px;
  height: 10px;
}

.social__link--fb::after {
  background-image: url("../img/icons/icon-fb.svg");
  width: 20px;
  height: 20px;
}

.social__link--ok::after {
  background-image: url("../img/icons/icon-instagram.svg");
  width: 20px;
  height: 20px;
}

.social__link--twitter::after {
  background-image: url("../img/icons/icon-twitter.svg");
  width: 22px;
  height: 17px;
}

.social__link--ok::after {
  background-image: url("../img/icons/icon-ok.svg");
  width: 12px;
  height: 18px;
}

.page-footer__feedback-subscribe {
  margin-top: 29px;
}

.feedback-subscribe {
  text-align: right;
}

.feedback-subscribe__feedback {
  margin-bottom: 29px;
}

.feedback__text {
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-background);
}

.feedback__mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--feedback-gold);
}

.feedback__mail:hover {
  text-decoration: underline;
}

.subscribe__text {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-background);
}

.subscribe__form {
  position: relative;
  width: 260px;
  display: flex;
}

.subscribe__email {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid var(--technomart-green);
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 12px;
  padding-right: 3px;
  width: 223px;
}

.subscribe__email::placeholder {
  color: var(--grey-placeholder);
}

.subscribe__email:hover {
  border-color: var(--scale-green);
}

.subscribe__email:focus {
  border-color: var(--technomart-green);
  outline: 1px solid var(--promo-yellow);
}

.subscribe__email:invalid {
  border-color: var(--technomart-red);
}

.subscribe__submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  background-color: var(--technomart-green);
  cursor: pointer;
}

.subscribe__submit:hover {
  background-color: var(--scale-green);
}

.subscribe__submit:active {
  background-color: var(--technomart-active-green);
}

.subscribe__submit::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../img/icons/cart.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-footer__bottom {
  background-color: var(--dark-blue);
}

.copyright-developers {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 20px;
  padding-bottom: 22px;
}

.copyright-developers__copyright {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-background);
}

.developers__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-background);
}

.developers__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--feedback-gold);
}

.developers__link:hover {
  text-decoration: underline;
}
